<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="org.zerock.mapper.TimeMapper">
    
    <select id="getTime2" resultType="string">
    SELECT sysdate FROM dual
    </select>
    
    <!-- select 태그의 id속성의 값은 메서드의 이름과 동일하게 맞춰야 합니다. -->
    </mapper>